<div
  class="surface-card shadow-1 p-3 border-round transition-duration-400 hover:shadow-3"
>
  <div class="flex justify-content-between mb-3">
    <div>
      <span class="block text-500 font-medium mb-3">{{ title }}</span>
      <div class="text-900 font-medium text-xl">{{ rate }}</div>
    </div>
    <div
      class="flex align-items-center justify-content-center bg-blue-100 border-round"
      [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
    >
      <i class="pi text-indigo-500 text-xl" [ngClass]="icon"></i>
    </div>
  </div>

  <span
    class="text-500 font-medium"
    [ngClass]="
      +average?.replace('%', '') >= 50 ? 'text-green-500' : 'text-red-500'
    "
    c
  >
    {{ average }}
  </span>

  <span class="text-500 font-medium">{{ text }}</span>
</div>
