<div
  class="surface-card shadow-1 p-3 border-round mb-3 transition-duration-400 hover:shadow-3 cursor-pointer"
>
  <app-card-header
    [title]="'Team Members'"
    [bonusMargin]="'mb-2'"
  ></app-card-header>

  <div
    class="flex flex-column"
    *ngFor="let friend of listOfFriends | async | slice : 0 : 3"
  >
    <div class="flex mt-4">
      <div class="flex align-items-center justify-content-between border-round">
        <img
          [src]="friend?.avatar || 'assets/images/user-icon.png'"
          class="border-circle"
          style="width: 35px; height: 35px"
        />
      </div>

      <div class="flex justify-content-between ml-3 flex-wrap w-full">
        <div class="flex flex-column justify-content-between">
          <span class="text-lg">{{ friend?.steam_nickname }}</span>
          <span class="block text-600 text-xs font-medium">{{
            friend?.nickname
          }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
