<div class="grid">
  <div class="col-12">
    <div
      class="surface-card shadow-1 p-3 border-round mb-2 transition-duration-400 hover:shadow-3"
    >
      <div
        class="flex align-items-start flex-column lg:flex-row lg:justify-content-between"
      >
        <div
          class="w-full flex align-items-center sm:align-items-start flex-column sm:flex-row"
        >
          <img
            [src]="faceitAccount?.avatar"
            class="mr-0 sm:mr-5 mb-3 lg:mb-0 border-circle shadow-4 w-8rem"
          />
          <div>
            <div
              class="flex justify-content-center sm:justify-content-start align-items-center"
            >
              <span class="text-900 font-medium text-3xl">
                {{ faceitAccount?.nickname }}
              </span>

              <i class="pi pi-star text-2xl ml-4 text-yellow-500"></i>
            </div>
            <div class="flex align-items-center flex-wrap text-sm">
              <div class="mr-5 mt-3">
                <span class="font-medium text-500 uppercase"> nickname </span>
                <div class="text-700 mt-2 text-lg font-semibold">
                  {{ faceitAccount?.steam_nickname }}
                </div>
              </div>
              <div class="mr-5 mt-3">
                <span class="font-medium text-500 uppercase"> country </span>
                <div class="text-700 mt-2 text-lg uppercase font-semibold">
                  {{ faceitAccount?.country }}
                </div>
              </div>
              <div class="mr-5 mt-3">
                <span class="font-medium text-500 uppercase">region</span>
                <div class="text-700 mt-2 text-lg font-semibold">
                  {{ faceitAccount?.games?.csgo?.region }}
                </div>
              </div>
              <div class="mr-5 mt-3">
                <span class="font-medium text-500 uppercase">level</span>
                <div class="text-700 mt-2 text-lg font-semibold">
                  {{ faceitAccount?.games?.csgo?.skill_level }}
                </div>
              </div>
              <div class="mr-5 mt-3">
                <span class="font-medium text-500 uppercase">elo</span>
                <div class="text-700 mt-2 text-lg font-semibold">
                  {{ faceitAccount?.games?.csgo?.faceit_elo }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
