<div class="flex justify-content-center align-items-center height">
  <div
    class="surface-card p-4 mt-5 shadow-2 border-round w-full md:w-8 lg:w-6 xl:w-5"
  >
    <app-form-header>
      <div class="text-center mb-5">
        <div class="text-900 text-3xl font-medium mb-3">{{ title }}</div>
        <span class="text-600 font-medium line-height-3">{{ subtitle }}</span>
        <a
          [routerLink]="[formLink]"
          routerLinkActive="router-link-active"
          class="font-medium no-underline ml-2 text-blue-500 cursor-pointer"
        >
          {{ joinUs }}
        </a>
      </div>
    </app-form-header>

    <ng-content></ng-content>
  </div>
</div>
