<div
  class="surface-card shadow-1 p-3 border-round transition-duration-400 hover:shadow-3 cursor-pointer mt-3"
  (click)="redirectToMatches()"
>
  <app-card-header [title]="'Matches'" [bonusMargin]="'mb-2'">
  </app-card-header>

  <div class="flex flex-wrap">
    <div class="flex mt-4">
      <div
        class="flex align-items-center justify-content-center bg-indigo-500 border-round"
        style="width: 2.5rem; height: 2.5rem"
      >
        <img
          src="assets/images/match.png"
          alt="Trophy"
          style="width: 1.25rem"
        />
      </div>
      <div class="ml-2">
        <span class="block text-600 text-xs mb-1 font-medium"> Matches </span>
        <span class="block text-indigo-500 text-600 mb-1 font-medium">
          390
        </span>
      </div>

      <div class="flex flex-direction-row ml-4">
        <div
          class="flex align-items-center justify-content-center bg-orange-500 border-round"
          style="width: 2.5rem; height: 2.5rem"
        >
          <img src="assets/images/up.png" alt="Trophy" style="width: 1.5rem" />
        </div>
        <div class="ml-2">
          <span class="block text-600 text-xs mb-1 font-medium">
            K/D Ratio
          </span>
          <span class="block text-yellow-500 text-600 mb-1 font-medium">
            396.47
          </span>
        </div>
      </div>
    </div>

    <div
      class="flex flex-column justify-content-center align-items-center w-full mt-4"
    >
      <img
        src="assets/images/stats.png"
        alt="Statistics"
        class="w-full h-10rem"
        [style]="{ 'object-fit': 'cover' }"
      />
      <span class="block text-600 text-xs mt-1 font-medium"
        >Match statistics</span
      >
    </div>
  </div>
</div>
