<app-navigation></app-navigation>

<div class="surface-card surface-ground p-4 my-5 shadow-2 border-round">
  <div 
    class="flex align-items-start flex-column lg:justify-content-between lg:flex-row background"
    [ngStyle]="{'background-image': 'url(' + organizer?.cover + ')'}"
  >
    <img [src]="organizer?.avatar" alt="">
  </div>
  <div class="surface-section mt-3">

    <p-tabView>
      <p-tabPanel header="Overview">
          <app-tournament-overview [organizer]="organizer"></app-tournament-overview>
      </p-tabPanel>
      <p-tabPanel header="Header II">
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
              architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
              voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>
      </p-tabPanel>
      <p-tabPanel header="Header III">
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
              cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
              Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
      </p-tabPanel>
    </p-tabView>

    
  </div>
</div>
