<div
  class="shadow-2 surface-card border-round p-4 border-1 surface-border h-full"
>
  <app-card-header [title]="'User Map Statistics'">
    <p-dropdown
      [options]="maps$ | async"
      [ngModel]="selectedMap$ | async"
      [virtualScroll]="true"
      (ngModelChange)="mapHandler($event)"
      placeholder="Select Map"
      optionLabel="label"
      [showClear]="true"
      dataKey="label"
      [style]="{ 'min-width': '170px' }"
    ></p-dropdown>
  </app-card-header>
  <div class="mt-3 flex align-items-start flex-column md:flex-row w-full">
    <div class="w-full">
      <app-poler-area-chart
        [selectedMap$]="selectedMap$"
      ></app-poler-area-chart>
    </div>
  </div>
</div>
