<div
  class="shadow-2 surface-card border-round border-1 surface-border p-4 mb-3"
>
  <app-card-header [title]="'User Hubs'" [bonusMargin]="'mb-5'">
    <span>
      <button
        pButton
        pRipple
        type="button"
        class="bg-purple-600 text-white"
        [label]="'View User Hubs'"
      ></button>
    </span>
  </app-card-header>

  <ul class="list-none p-0 m-0 flex gap-3 flex-wrap">
    <li *ngFor="let userHub of userHubs$ | async | slice : 0 : 3">
      <button
        pButton
        pRipple
        type="button"
        class="p-button-outlined p-button-success"
        [label]="userHub?.name"
      ></button>
    </li>
  </ul>
</div>
