<div
  class="surface-card shadow-1 p-3 border-round transition-duration-400 hover:shadow-3 cursor-pointer mt-3"
  (click)="redirectToHubs()"
>
  <app-card-header [title]="'Hubs'" [bonusMargin]="'mb-2'"> </app-card-header>

  <div class="flex flex-wrap">
    <div class="flex mt-4">
      <div
        class="flex align-items-center justify-content-center bg-indigo-500 border-round"
        style="width: 2.5rem; height: 2.5rem"
      >
        <i class="pi text-pink-700 pi-flag" style="font-size: 1.5rem"></i>
      </div>
      <div class="ml-2">
        <span class="block text-600 text-xs mb-1 font-medium"> Hubs </span>
        <span class="block text-indigo-500 text-600 mb-1 font-medium">
          240
        </span>
      </div>

      <div class="flex flex-direction-row ml-4">
        <div
          class="flex align-items-center justify-content-center bg-red-500 border-round"
          style="width: 2.5rem; height: 2.5rem"
        >
          <i class="pi text-pink-50 pi-users" style="font-size: 1.5rem"></i>
        </div>
        <div class="ml-2">
          <span class="block text-600 text-xs mb-1 font-medium"> People </span>
          <span class="block text-yellow-500 text-600 mb-1 font-medium">
            4K
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
