<div class="p-inputgroup">
  <span class="p-float-label">
    <input [id]="id" [type]="inputType" pInputText [formControl]="control" />
    <label [for]="id">{{ label }}</label>
  </span>
</div>
<div *ngIf="showErrors()">
  <p *ngIf="control.errors!.required">Value is required!</p>
  <p *ngIf="control.errors!.minlength">
    Value you enter is
    {{ control.errors?.minlength.actualLength }} characters long, but it must be
    at least {{ control.errors?.minlength.requiredLength }} characters!
  </p>
  <p *ngIf="control.errors!.maxlength">
    Value you enter is
    {{ control.errors?.maxlength.actualLength }} characters long, but it cannot
    be longer than {{ control.errors?.maxlength.requiredLength }} characters!
  </p>
  <p *ngIf="control.errors!.pattern">Invalid format!</p>
  <p *ngIf="control.errors!.nonUniqueEmail">Email is taken!</p>
  <p *ngIf="control.errors!.noConnection">Check your internet connection!</p>
</div>
