<div
  class="surface-ground flex align-items-center justify-content-center min-h-screen overflow-hidden w-full"
>
  <div
    class="flex flex-column align-items-center justify-content-center w-full"
  >
    <div
      class="w-11 sm:w-10 md:w-7 lg:w-7 xl:w-4"
      [ngStyle]="{
        'border-radius': '56px',
        padding: '0.3rem',
        background:
          'linear-gradient(180deg, rgba(236, 72, 153, 1) 10%, rgba(247, 149, 48, 0) 30%)'
      }"
    >
      <app-form-style
        title="Welcome Back!"
        subtitle="Don't have an account?"
        joinUs="Join us today!"
        formLink="/signup"
      >
        <form (ngSubmit)="onSubmit()" [formGroup]="authForm">
          <div class="grid justify-content-center">
            <div class="col-12 sm:col-10 md:col-8 lg:col-12">
              <app-input
                id="email"
                icon="pi pi-user"
                inputType="text"
                label="Email"
                [control]="$any(authForm).controls['email']"
              ></app-input>
            </div>

            <div class="col-12 sm:col-10 md:col-8 lg:col-12">
              <app-input
                id="password"
                icon="pi pi-user"
                inputType="password"
                label="Password"
                [control]="$any(authForm).controls['password']"
              ></app-input>
            </div>

            <div
              *ngIf="authForm.errors"
              class="col-12 sm:col-10 md:col-8 lg:col-12 margin"
            >
              <p *ngIf="authForm.errors?.credentials">
                <p-message
                  severity="error"
                  text="Invalid email or password!"
                ></p-message>
              </p>
              <p *ngIf="authForm.errors?.unknownError">
                <p-message
                  severity="error"
                  text="Failed to Signin!"
                ></p-message>
              </p>
            </div>

            <div class="col-8 offset-2 sm-col-12">
              <button
                [disabled]="authForm.invalid"
                pButton
                pRipple
                type="submit"
                label="LOGIN"
                class="p-button-success w-full"
              ></button>
            </div>
          </div>
        </form>
      </app-form-style>
    </div>
  </div>
</div>
