<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
  <div class="flex flex-wrap shadow-2">
    <div class="w-full lg:w-6 px-0 py-4 lg:p-7">
      <app-form-style
        title="Welcome Back!"
        subtitle="Don't have an account?"
        joinUs="Join us today!"
        formLink="/signup"
      >
        <form (ngSubmit)="onSubmit()" [formGroup]="authForm">
          <div class="grid justify-content-center">
            <div class="col-12 sm:col-10 md:col-8 lg:col-12">
              <app-input
                id="email"
                icon="pi pi-user"
                inputType="text"
                label="Email"
                [control]="$any(authForm).controls['email']"
              ></app-input>
            </div>

            <div class="col-12 sm:col-10 md:col-8 lg:col-12">
              <app-input
                id="password"
                icon="pi pi-user"
                inputType="password"
                label="Password"
                [control]="$any(authForm).controls['password']"
              ></app-input>
            </div>

            <div
              *ngIf="authForm.errors"
              class="col-12 sm:col-10 md:col-8 lg:col-12 margin"
            >
              <p *ngIf="authForm.errors?.credentials">
                <p-message
                  severity="error"
                  text="Invalid email or password!"
                ></p-message>
              </p>
              <p *ngIf="authForm.errors?.unknownError">
                <p-message
                  severity="error"
                  text="Failed to Signin!"
                ></p-message>
              </p>
            </div>

            <div class="col-8 offset-2 sm-col-12">
              <button
                [disabled]="authForm.invalid"
                pButton
                pRipple
                type="submit"
                label="LOGIN"
                class="p-button-success w-full"
              ></button>
            </div>
          </div>
        </form>
      </app-form-style>
    </div>
    <div class="w-full lg:w-6 p-4 lg:p-7 surface-card">
      <img src="assets/images/login-page.png" alt="Image" class="mb-6 w-full" />
    </div>
  </div>
</div>
