<app-navigation></app-navigation>

<h5>Basic</h5>
<p-autoComplete 
  [(ngModel)]="selectedTournament" 
  [suggestions]="filteredTournaments" 
  (completeMethod)="filterTournament($event)"
  field="name" 
  [minLength]="1"
  (onSelect)="selected($event)"
></p-autoComplete>

<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
  <div class="grid" >
    <div class="col-12 sm:col-6 md:col:6 lg:col-4" *ngFor="let tournament of ($tournaments | async)">
      <app-tournament-card [tournament]="tournament"></app-tournament-card>
    </div>
  </div>
</div>
